{% extends "./base.html"%}
{%load static%}

{% block body %}
<body>
{% endblock %}

{%block content%}
<body style="background-color: #ffffff">
  <form method = "POST">
  {% csrf_token %}
  <div>
    <div style="text-align: center; color: #E2895F;">
      <!-- <h4>{{reviewer.reviewerTitle}}</h4> -->
      <h4>Title: </h4>
      <div class="wrapper" style="top: 30%; left: 32.5%;">
        <div class="form-group input-field">
          <input placeholder="Title" id="title" type="text" name="title" class="validate">
        </div>
      </div>
    </div>
    <div class="reviewer container" style="color: #E2895F;">
      {% if items %}
        {% for individualItem in items%}
          {{individualItem.questionNumber}} {{individualItem.questionText}}
        {% endfor %}
      {% else %}
        <h5>There are currently no questions. Add a question now!</h5>
      <!-- <pre>{{reviewer.reviewerContent}}</pre> -->
      {% endif %}
      <div class="input-field col s12">
        <select name="qtype" class="browser-default">
          <option value="" disabled selected>Choose your option</option>
            <option value="multiple_choice">Multiple Choice</option>
            <option value="short_answer">Short Answer</option>
        </select>
      </div>
      <button class="waves-effect waves-light btn-large" type="Submit">Add a Question</button>
    </div>
  </div>
  </form>
  </body>
{% endblock content %}
