{% extends "./base.html" %}
{%load static%}

{%block content%}
  <a class="waves-effect waves-light btn-large" style="top: 50%; left: 45%; position: fixed;" href="login">Login</a>
  <a class="waves-effect waves-light btn-large" style="top: 60%; left: 44.65%; position: fixed;" href="signup">Signup</a>
  <img src="{% static 'registration/img/Logo.png' %}" class="landing-logo" style="position: fixed; height:30%; top: 10%; left: 25%;" alt="">
  <img src="{% static 'registration/img/landing-footer.png' %}" class="landing-logo" style="position: fixed; top: 0%; left: 0%;">
{%endblock%}
