{% extends "./base.html"%}
{%load static%}

{%block content%}
<div>
  <img src="{% static 'registration/img/Logo.png' %}" class="landing-logo" style="position: fixed; height:20%; top: 10%; left: 35%;" alt="">
</div>
  <div>
  <div class = 'container register'>
    <form method = "POST">
      {% csrf_token %}
          <div class="wrapper" style="position: fixed; top: 30%; left: 32.5%;">
            <input placeholder="Question" id="questionA" type="text" name="questionA" class="validate">
            <div class="form-group input-field">
              <input placeholder="CHOICE A" id="choiceA" type="text" name="choiceA" class="validate">
              <!-- <label for="username">Username</label> -->
            </div>
            <div class="form-group input-field">
              <input placeholder="CHOICE B" id="choiceB" type="text" name="choiceB" class="validate">
              <!-- <label for="username">Username</label> -->
            </div>
            <div class="form-group input-field">
              <input placeholder="CHOICE C" id="choiceC" type="text" name="choiceC" class="validate">
              <!-- <label for="password1">Password</label> -->
            </div>
            <div class="form-group input-field">
              <input placeholder="CHOICE D" id="choiceD" type="text" name="choiceD" class="validate">
              <!-- <label for="password1">Password</label> -->
            </div>
            <div class="form-group input-field">
              <input placeholder="ANSWER" id="answer" type="text" name="answer" class="validate">
              <!-- <label for="password1">Password</label> -->
            </div>
          </div>
        <div style="overflow:auto;">
          <div class="register-button-grp"  style="position: fixed; top: 85%; left: 45%;">
            <button class="waves-effect waves-light btn-large" type = "submit">Add Question</button>
          </div>
        </div>
    </form>
  </div>
  </div>
{%endblock content%}
