{% extends "./base.html"%}
{%load static%}

{% block body %}
<body>
{% endblock %}

{%block content%}
  <img src="{% static 'registration/img/landing-footer.png' %}" class="landing-logo" style="position: fixed; top: 0%; left: 0%;">
  <div>
    <img src="{% static 'registration/img/Logo.png' %}" class="landing-logo" style="position: fixed; height:20%; top: 10%; left: 35%;" alt="">
  </div>
  <div class = 'container register'>
    <form method = "POST">
      {% csrf_token %}
          <div class="wrapper" style="position: fixed; top: 30%; left: 32.5%;">
            <div class="form-group input-field">
              <input placeholder="Username" id="username" type="text" name="username" class="validate">
              <!-- <label for="username">Username</label> -->
            </div>
            <div class="form-group input-field">
              <input placeholder="Password" id="password1" type="password" name="password1" class="validate">
              <!-- <label for="password1">Password</label> -->
            </div>
            <div class="form-group input-field">
              <input placeholder="Re-enter Password" id="password2" type="password" name="password2" class="validate">
              <!-- <label for="password2">Re-enter Password</label> -->
            </div>
            <div class="form-group input-field">
              <input placeholder="Email" id="email" type="text" name="email" class="validate">
              <!-- <label for="email">Email</label> -->
            </div>
          </div>
        <div style="overflow:auto;">
          <div class="register-button-grp"  style="position: fixed; top: 80%; left: 42.5%;">
            <button type="Submit" class="waves-effect waves-light btn-large" id="submit" style="top: 80%; left: 45%; position: fixed;">Submit</button>
          </div>
        </div>
    </form>
  </div>
{% endblock content %}
